version: '3.8'

services:
  dev:
    image: alexisdelaporte/node-dev:latest
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8080:8080"
    command: tail -f /dev/null
    stdin_open: true
    tty: true
